### Pandas Homework - Pandas, Pandas, Pandas

##  Code location - C:\Users\sbell\OneDrive\Documents\Notes Data science bootcamp\NU Download from GitLab\04-Pandas\Pandas_HW\Instructions\HeroesOfPymoli

## Heroes of Pymoli

![Fantasy](Images/Fantasy.png)

Analyze the data for the most recent fantasy game Heroes of Pymoli.

Background: the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, this code will generate a report that breaks down the game's purchasing data into meaningful insights.

The final report includes each of the following:

### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [1]:
# Dependencies and Setup
import pandas as pd
import locale

In [2]:
# File to Load (Remember to Change These)
file_to_load = "/Users/sbell/OneDrive/Documents/Notes Data science bootcamp/NU Download from GitLab/04-Pandas/Pandas_HW/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.columns = ['purchase_id', 'SN', 'Age', 'Gender', 'item_id', 'item_name', 'Price']

In [4]:
# Provides count/listing of unique values in the specified column
total_rows = len(purchase_data["SN"].value_counts())
print("Total number of players: ",total_rows)

Total number of players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
    * Number of Unique Items
    * Average Purchase Price
    * Total Number of Purchases
    * Total Revenue

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
column_names1 = ["# of Unique Items", "Avg Price", "# of Purchase", "Total Revenue"]
purch_analysis_df = pd.DataFrame(columns = column_names1)
purch_analysis_df.loc[0,'# of Unique Items'] = len(purchase_data["item_id"].value_counts())
purch_analysis_df.loc[0,'Avg Price'] = purchase_data["Price"].mean()
purch_analysis_df.loc[0,'# of Purchase'] = purchase_data['purchase_id'].count() 
purch_analysis_df.loc[0,'Total Revenue'] = purchase_data["Price"].sum()

purch_analysis_df['Avg Price'] = purch_analysis_df['Avg Price'].astype(float).map("${:.2f}".format)
purch_analysis_df['Total Revenue'] = purch_analysis_df['Total Revenue'].astype(float).map("${:,.2f}".format)
purch_analysis_df

  # of Unique Items Avg Price # of Purchase Total Revenue
0               183     $3.05           780     $2,379.77

## Gender Demographics

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

In [6]:
gender_user_df = purchase_data[["SN", "Gender"]].copy()

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
column_names2 = ["Gender", "Total Count", "% of Players"]
gender_analysis_df = pd.DataFrame(columns = column_names2)

In [8]:
result_males_df = purchase_data[(purchase_data['Gender'] == 'Male')]

gender_analysis_df.loc[0,'Gender'] = "Males"
gender_analysis_df.loc[0,'Total Count'] = len(result_males_df["SN"].value_counts())
gender_analysis_df.loc[0,'% of Players'] = (len(result_males_df["SN"].value_counts()) / total_rows) * 1

result_females_df = purchase_data[(purchase_data['Gender'] == 'Female')]

gender_analysis_df.loc[1,'Gender'] = "Females"
gender_analysis_df.loc[1,'Total Count'] = len(result_females_df["SN"].value_counts())
gender_analysis_df.loc[1,'% of Players'] = (len(result_females_df["SN"].value_counts()) / total_rows) * 1

result_other_df = purchase_data[(purchase_data['Gender'] != 'Male') & (purchase_data['Gender'] != 'Female')]

gender_analysis_df.loc[2,'Gender'] = "Other / Non-Disclosed"
gender_analysis_df.loc[2,'Total Count'] = len(result_other_df["SN"].value_counts())
gender_analysis_df.loc[2,'% of Players'] = (len(result_other_df["SN"].value_counts()) / total_rows) * 1
gender_analysis_df['% of Players'] = gender_analysis_df['% of Players'].astype(float).map("{:.2%}".format)
gender_analysis_df
gender_analysis_df.set_index('Gender')

                      Total Count % of Players
Gender
Males                         484       84.03%
Females                        81       14.06%
Other / Non-Disclosed          11        1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [9]:
# Create framework for Purchasing Analysis Information
column_names3 = ["Gender", "Purchase Count", "Avg Purchase Price", "Total Purchase Value",  "Avg Total Purchase per person"]
gender_purch_analysis_df = pd.DataFrame(columns = column_names3)

In [10]:
# Generate Purchasing Analysis for Females
gender_purch_analysis_df.loc[0, "Gender"] = "Females"
gender_purch_analysis_df.loc[0, 'Purchase Count'] = len(result_females_df)
gender_purch_analysis_df.loc[0, "Avg Purchase Price"]  = result_females_df["Price"].mean()
gender_purch_analysis_df.loc[0, "Total Purchase Value"]  = result_females_df["Price"].sum()

gender_fem_df = result_females_df[["SN", "Price"]].copy().sort_values("SN")
gender_fem_df = gender_fem_df.groupby('SN').sum()

gender_purch_analysis_df.loc[0, "Avg Total Purchase per person"] = gender_fem_df['Price'].mean()

# Generate Purchasing Analysis for Males
gender_purch_analysis_df.loc[1, "Gender"] = "Males"
gender_purch_analysis_df.loc[1, 'Purchase Count'] = len(result_males_df)
gender_purch_analysis_df.loc[1, "Avg Purchase Price"]  = result_males_df["Price"].mean()
gender_purch_analysis_df.loc[1, "Total Purchase Value"]  = result_males_df["Price"].sum()

gender_males_df = result_males_df[["SN", "Price"]].copy().sort_values("SN")
gender_males_df = gender_males_df.groupby('SN').sum()

gender_purch_analysis_df.loc[1, "Avg Total Purchase per person"] = gender_males_df['Price'].mean()

# Generate Purchasing Analysis for Other/etc
gender_purch_analysis_df.loc[2, "Gender"] = "Other / NonDisclosed"
gender_purch_analysis_df.loc[2, 'Purchase Count'] = len(result_other_df)
gender_purch_analysis_df.loc[2, "Avg Purchase Price"]  = result_other_df["Price"].mean()
gender_purch_analysis_df.loc[2, "Total Purchase Value"]  = result_other_df["Price"].sum()

gender_other_df = result_other_df[["SN", "Price"]].copy().sort_values("SN")
gender_other_df = gender_other_df.groupby('SN').sum()

gender_purch_analysis_df.loc[2, "Avg Total Purchase per person"] = gender_other_df['Price'].mean()

gender_purch_analysis_df['Avg Total Purchase per person'] = gender_purch_analysis_df['Avg Total Purchase per person'].astype(float).map("${:,.2f}".format)
gender_purch_analysis_df['Total Purchase Value'] = gender_purch_analysis_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
gender_purch_analysis_df['Avg Purchase Price'] = gender_purch_analysis_df['Avg Purchase Price'].astype(float).map("${:,.2f}".format)

gender_purch_analysis_df
gender_purch_analysis_df.set_index('Gender')

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per person
Gender,,,,
Females,113,$3.20,$361.94,$4.47
Males,652,$3.02,"$1,967.64",$4.07
Other / NonDisclosed,15,$3.35,$50.19,$4.56

In [11]:
## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [12]:
# Define bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 199]

# Names for each bin category
grp_names = ["  <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data['age_range'] = pd.cut(purchase_data['Age'], bins, right=False, labels=grp_names)

In [13]:
# Create dataframes based upon age range for further processing

result_lt10_df = purchase_data[(purchase_data['age_range'] == '  <10')]
result_10to14_df = purchase_data[(purchase_data['age_range'] == '10-14')]
result_15to19_df = purchase_data[(purchase_data['age_range'] == '15-19')]
result_20to24_df = purchase_data[(purchase_data['age_range'] == '20-24')]
result_25to29_df = purchase_data[(purchase_data['age_range'] == '25-29')]
result_30to34_df = purchase_data[(purchase_data['age_range'] == '30-34')]
result_35to39_df = purchase_data[(purchase_data['age_range'] == '35-39')]
result_ge40_df = purchase_data[(purchase_data['age_range'] == '40+')]

In [14]:
# Create framework for Age demographics Information
column_names4 = ["Demographics", "Total Count", "Percent of Players"]
age_demographics_df = pd.DataFrame(columns = column_names4)

In [15]:
age_demographics_df.loc[0, 'Demographics'] = "<10"
age_demographics_df.loc[0, 'Total Count'] = len(result_lt10_df["SN"].value_counts())
age_demographics_df.loc[0, 'Percent of Players'] = (len(result_lt10_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[1, 'Demographics'] = "10-14"
age_demographics_df.loc[1, 'Total Count'] = len(result_10to14_df["SN"].value_counts())
age_demographics_df.loc[1, 'Percent of Players'] = (len(result_10to14_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[2, 'Demographics'] = "15-19"
age_demographics_df.loc[2, 'Total Count'] = len(result_15to19_df["SN"].value_counts())
age_demographics_df.loc[2, 'Percent of Players'] = (len(result_15to19_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[3, 'Demographics'] = "20-24"
age_demographics_df.loc[3, 'Total Count'] = len(result_20to24_df["SN"].value_counts())
age_demographics_df.loc[3, 'Percent of Players'] = (len(result_20to24_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[4, 'Demographics'] = "25-29"
age_demographics_df.loc[4, 'Total Count'] = len(result_25to29_df["SN"].value_counts())
age_demographics_df.loc[4, 'Percent of Players'] = (len(result_25to29_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[5, 'Demographics'] = "30-34"
age_demographics_df.loc[5, 'Total Count'] = len(result_30to34_df["SN"].value_counts())
age_demographics_df.loc[5, 'Percent of Players'] = (len(result_30to34_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[6, 'Demographics'] = "35-39"
age_demographics_df.loc[6, 'Total Count'] = len(result_35to39_df["SN"].value_counts())
age_demographics_df.loc[6, 'Percent of Players'] = (len(result_35to39_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df.loc[7, 'Demographics'] = "40+"
age_demographics_df.loc[7, 'Total Count'] = len(result_ge40_df["SN"].value_counts())
age_demographics_df.loc[7, 'Percent of Players'] = (len(result_ge40_df["SN"].value_counts()) / len(purchase_data["SN"].value_counts())) * 1

age_demographics_df['Percent of Players'] = age_demographics_df['Percent of Players'].astype(float).map("{:.2%}".format)

age_demographics_df
age_demographics_df.set_index('Demographics')

             Total Count Percent of Players
Demographics
<10                   17              2.95%
10-14                 22              3.82%
15-19                107             18.58%
20-24                258             44.79%
25-29                 77             13.37%
30-34                 52              9.03%
35-39                 31              5.38%
40+                   12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [16]:
# Create framework for Age Purchase Analysis Information
column_names5 = ["Age Ranges", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase/Person"]
age_purch_age_df = pd.DataFrame(columns = column_names5)

In [17]:
age_purch_age_df.loc[0, 'Age Ranges'] = "<10"
age_purch_age_df.loc[0, 'Purchase Count'] = len(result_lt10_df)
age_purch_age_df.loc[0, 'Average Purchase Price'] = result_lt10_df["Price"].mean()
age_purch_age_df.loc[0, 'Total Purchase Value'] = result_lt10_df["Price"].sum()

result_lt10_grp_df = result_lt10_df[["SN", "Price"]].copy().sort_values("SN")
result_lt10_pp_df = result_lt10_grp_df.groupby('SN').sum()
age_purch_age_df.loc[0, 'Avg Total Purchase/Person'] = result_lt10_pp_df["Price"].mean()

age_purch_age_df.loc[1, 'Age Ranges'] = "10-14"
age_purch_age_df.loc[1, 'Purchase Count'] = len(result_10to14_df)
age_purch_age_df.loc[1, 'Average Purchase Price'] = result_10to14_df["Price"].mean()
age_purch_age_df.loc[1, 'Total Purchase Value'] = result_10to14_df["Price"].sum()

result_10to14_grp_df = result_10to14_df[["SN", "Price"]].copy().sort_values("SN")
result_10to14_pp_df = result_10to14_grp_df.groupby('SN').sum()
age_purch_age_df.loc[1, 'Avg Total Purchase/Person'] = result_10to14_pp_df["Price"].mean()

age_purch_age_df.loc[2, 'Age Ranges'] = "15-19"
age_purch_age_df.loc[2, 'Purchase Count'] = len(result_15to19_df)
age_purch_age_df.loc[2, 'Average Purchase Price'] = result_15to19_df["Price"].mean()
age_purch_age_df.loc[2, 'Total Purchase Value'] = result_15to19_df["Price"].sum()

result_15to19_grp_df = result_15to19_df[["SN", "Price"]].copy().sort_values("SN")
result_15to19_pp_df = result_15to19_grp_df.groupby('SN').sum()
age_purch_age_df.loc[2, 'Avg Total Purchase/Person'] = result_15to19_pp_df["Price"].mean()

age_purch_age_df.loc[3, 'Age Ranges'] = "20-24"
age_purch_age_df.loc[3, 'Purchase Count'] = len(result_20to24_df)
age_purch_age_df.loc[3, 'Average Purchase Price'] = result_20to24_df["Price"].mean()
age_purch_age_df.loc[3, 'Total Purchase Value'] = result_20to24_df["Price"].sum()

result_20to24_grp_df = result_20to24_df[["SN", "Price"]].copy().sort_values("SN")
result_20to24_pp_df = result_20to24_grp_df.groupby('SN').sum()
age_purch_age_df.loc[3, 'Avg Total Purchase/Person'] = result_20to24_pp_df["Price"].mean()

age_purch_age_df.loc[4, 'Age Ranges'] = "25-29"
age_purch_age_df.loc[4, 'Purchase Count'] = len(result_25to29_df)
age_purch_age_df.loc[4, 'Average Purchase Price'] = result_25to29_df["Price"].mean()
age_purch_age_df.loc[4, 'Total Purchase Value'] = result_25to29_df["Price"].sum()

result_25to29_grp_df = result_25to29_df[["SN", "Price"]].copy().sort_values("SN")
result_25to29_pp_df = result_25to29_grp_df.groupby('SN').sum()
age_purch_age_df.loc[4, 'Avg Total Purchase/Person'] = result_25to29_pp_df["Price"].mean()

age_purch_age_df.loc[5, 'Age Ranges'] = "30-34"
age_purch_age_df.loc[5, 'Purchase Count'] = len(result_30to34_df)
age_purch_age_df.loc[5, 'Average Purchase Price'] = result_30to34_df["Price"].mean()
age_purch_age_df.loc[5, 'Total Purchase Value'] = result_30to34_df["Price"].sum()

result_30to34_grp_df = result_30to34_df[["SN", "Price"]].copy().sort_values("SN")
result_30to34_pp_df = result_30to34_grp_df.groupby('SN').sum()
age_purch_age_df.loc[5, 'Avg Total Purchase/Person'] = result_30to34_pp_df["Price"].mean()

age_purch_age_df.loc[6, 'Age Ranges'] = "35-39"
age_purch_age_df.loc[6, 'Purchase Count'] = len(result_35to39_df)
age_purch_age_df.loc[6, 'Average Purchase Price'] = result_35to39_df["Price"].mean()
age_purch_age_df.loc[6, 'Total Purchase Value'] = result_35to39_df["Price"].sum()

result_35to39_grp_df = result_35to39_df[["SN", "Price"]].copy().sort_values("SN")
result_35to39_pp_df = result_35to39_grp_df.groupby('SN').sum()
age_purch_age_df.loc[6, 'Avg Total Purchase/Person'] = result_35to39_pp_df["Price"].mean()

age_purch_age_df.loc[7, 'Age Ranges'] = "40+"
age_purch_age_df.loc[7, 'Purchase Count'] = len(result_ge40_df)
age_purch_age_df.loc[7, 'Average Purchase Price'] = result_ge40_df["Price"].mean()
age_purch_age_df.loc[7, 'Total Purchase Value'] = result_ge40_df["Price"].sum()

result_ge40_grp_df = result_ge40_df[["SN", "Price"]].copy().sort_values("SN")
result_ge40_pp_df = result_ge40_grp_df.groupby('SN').sum()
age_purch_age_df.loc[7, 'Avg Total Purchase/Person'] = result_ge40_pp_df["Price"].mean()

In [18]:
#age_purch_age_df['Average Purchase Price'] = age_purch_age_df['Average Purchase Price'].astype(float).map("${,:.2f}".format)
#age_purch_age_df['Total Purchase Value'] = age_purch_age_df['Total Purchase Value'].astype(float).map("${,:.2f}".format)
#age_purch_age_df['Avg Total Purchase/Person'] = age_purch_age_df['Avg Total Purchase/Person'].astype(float).map("${,:.2f}".format)

age_purch_age_df
age_purch_age_df.set_index('Age Ranges')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase/Person
Age Ranges,,,,
<10,23,3.35348,77.13,4.53706
10-14,28,2.95643,82.78,3.76273
15-19,136,3.03596,412.89,3.85879
20-24,365,3.05222,1114.06,4.31806
25-29,101,2.90099,293,3.80519
30-34,73,2.93151,214,4.11538
35-39,41,3.60171,147.67,4.76355
40+,13,2.94154,38.24,3.18667

### Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [19]:
result_top_spdr_all_df = purchase_data[["SN", "Price"]].copy().sort_values("SN")
result_top_spdr_pp_df = result_top_spdr_all_df.groupby('SN').agg({'Price': ['count','mean','sum']})
#result_top_spdr_pp_df.info()

# Update framework for Age Purchase Analysis Information

result_top_spdr_pp_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
result_top_spdr_pp_df = result_top_spdr_pp_df.sort_values('Total Purchase Value', axis=0, ascending=False).head(5)

#result_top_spdr_pp_df['Average Purchase Price'] = result_top_spdr_pp_df['Average Purchase Price'].astype(float).map("${,:.2f}".format)
#result_top_spdr_pp_df['Total Purchase Value'] = result_top_spdr_pp_df['Total Purchase Value'].astype(float).map("${,:.2f}".format)

result_top_spdr_pp_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [20]:
result_most_pop_all_df = purchase_data[['item_id', 'item_name', "Price"]].copy().sort_values("item_id")

result_most_pop_df = result_most_pop_all_df.groupby(['item_id', 'item_name']).agg({'Price': ['count','sum']})

result_most_pop_df.columns = ["Purchase Count", "Total Purchase Value"]

result_most_pop_5_df = result_most_pop_df.sort_values('Purchase Count', axis=0, ascending=False).head(5)

#result_most_pop_5_df['Total Purchase Value'] = result_most_pop_df['Total Purchase Value'].astype(float).map("${,:.2f}".format)

result_most_pop_5_df

,,Purchase Count,Total Purchase Value
item_id,item_name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
82,Nirvana,9,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [21]:
result_most_pop_df.sort_values('Total Purchase Value',ascending=False).head(5)

,,Purchase Count,Total Purchase Value
item_id,item_name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
92,Final Critic,8,39.04
103,Singed Scalpel,8,34.80